---
layout: base.njk
---

<article>
<nav class="breadcrumbs">
  <a href="/">Home</a> →
  <a href="/books/">Books</a> →
  <span>{{ title }}</span>
</nav>

  {% if img_url %}
    <div class="book-cover">
      <img src="{{ img_url }}" alt="Cover of {{ title }}">
    </div>
  {% endif %}

  <p><strong>Author:</strong> {{ author }}</p>

  {% if tags %}
    <p><strong>Tags:</strong> {{ tags | join(', ') }}</p>
  {% endif %}

  <div>
    {{ content | safe }}
  </div>
   <p style="margin-top: 2rem;">
    <a href="/books/" class="back-link">← Back to Books</a>
  </p>
</article>
