{% extends "base.njk" %}

{% block content %}

<article class="blog-post">
  {% if not hide_title %}
  <h1 class="blog-title">{{ title }}</h1>
{% endif %}
  <div class="blog-body">
    {{ content | safe }}
  </div>
</article>
  <a href="/weeklies/">Back to Weeklies</a> 

{% endblock %}
