---
title: Books
layout: base.njk
permalink: /books/
---

<h1>Reading History</h1>

<input id="search-box" type="text" placeholder="Filter books..."   
title="search title, author, or tags (add an asterisk at the end)"
 style="margin-bottom: 1rem; padding: 0.5rem; width: 100%; max-width: 400px;">
<div id="search-helper" style="margin-bottom: 1rem; font-size: 0.9rem; color: #555;">
  Filter by title, author, series or tags.
</div>
<div class="book-grid" id="book-list">
  <ul id="no-results" style="display:none;">
  <li>No Books Found</li>
  </ul>
  {% for book in collections.allBooksSorted %}
    <a href="{{ book.url }}" title="{{ book.title }}" class="book-card" aria-label="{{ book.data.title }} by {{ book.data.author }}">
      <img src="{{ book.data.img_url }}" alt="{{ book.data.title }} by {{ book.data.author | firstLast }}" />
      <div class="hover-info">
        <strong>{{ book.data.title }}</strong><br/>
        <span>{{ book.data.author | firstLast}}</span><br/>
      </div>
    </a>
  {% endfor %}
</div>

{% if collections.allBooksSorted.length == 0 %}
  <p>No completed books found.</p>
{% endif %}

<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="/scripts/search.js"></script>

