---
title: Home
layout: base.njk
permalink: /
---

<h1>Welcome to c2lem.com</h1>

<h2>Who?</h2>
<ul>
    <li> "c" == Charles</li>
    <li> "2" == to</li>
    <li>"lem" == "le magne" (french) == (in english) "the great"</li>
</ul>
<p>So, Charlemagne (just Charles really, and, no, I am not French), and this is my very small internet domain/empire. This is the internet; I could be a dog for all you know.</p>
<h2>What?</h2>
<p>Whatever I am interested in that's worth posting and for now this includes:</p>
<ul>
    <li><a href="/books/">Books</a>: For newer books these posts are (no spoilers) reviews. Otherwise, these are just observations for my own memory.
    <li><a href="/books/in-progress/">Now Reading</a>: is pretty self explanatory.</li>
    <li><a href="/weeklies/">Blog</a>: with weekly posts. And a post is just a bunch of links that I find topical, distracting or otherwise interesting.  YMMV.</li>

</ul>