---json
{
  "permalink": "weeklies_feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "c2lem.weeklies",
    "description": "news and stuff",
    "language": "en",
    "base": "https://c2lem.com",
    "author": {
      "name": "C Lemagne"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" version="2.0">
<channel>
	<title>c2lem.com Weeklies Feed</title>
	<atom:link href="https://c2lem.com/weeklies_feed.xml" rel="self" type="application/rss+xml" />
	<link>https://c2lem.com/weeklies_feed.xml</link>
	<description>No trackers, no ads. Black type, polite background. Privacy policy: we don&#039;t collect or retain any data at all ever period.</description>
	<lastBuildDate>{{ collections.weekliesSorted | getNewestCollectionItemDate | dateToRfc822}}</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.8.1</generator>

<image>
	<url>https://c2lem.com/favicon-32x32.png</url>
	<title>c2lem.com Weeklies Feed</title>
	<link>https://c2lem.com/weeklies_feed.xml</link>
	<width>32</width>
	<height>32</height>
</image> 
<feed
  xmlns="http://www.w3.org/2005/Atom"
  xml:lang="{{ metadata.language or page.lang }}"
>
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" />
  <link href="{{ metadata.base | addPathPrefixToFullUrl }}" />
  <updated
    >{{ collections.weekliesSorted | getNewestCollectionItemDate | dateToRfc822
    }}</updated
  >
  <id>{{ metadata.base | addPathPrefixToFullUrl }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.weekliesSorted | reverse %} {%- set
  absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.base) }}{% endset %}
  <item>
    <title>{{ post.data.title }}</title>
    <link>{{ absolutePostUrl }}</link>
    <guid>{{ absolutePostUrl }}</guid>
   <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
    <description>{{ post.content | renderTransforms(post.data.page, metadata.base)
      }}</description>
    >
  </entry>
  {%- endfor %}
</feed>
</channel>
</rss>
